.split-screen {
  display: flex;
  width: 100%;
  height: 100%;
}

.splitter {
  flex-grow: 0;
  flex-shrink: 0;
  background: #1b1b51;
  width: 2px;
  cursor: col-resize;
  margin: 0 0 0 auto;
}

.left-pane {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.right-pane {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50%;
  overflow-x: auto;
}